.content {
    background-color: #ffcccb; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)), url('apple.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain; 
    padding: 20px; 
    
	height: 400px;
}